<div class="container my-4">
  <div>Contact us</div>


<form class="col-4" [formGroup]="info" (ngSubmit)="onSubmit()">

    <label>
      First Name:
      <input class="form-control my-2" type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input class="form-control my-2" type="text" formControlName="lastName">
    </label>

    <label>
      Email:
      <input class="form-control my-2" type="text" formControlName="email">
    </label>

    <label>
      Message:
      <input class="form-control my-2" type="text" formControlName="message">
    </label>
    
    <div>
      <input class="form-control my-2" type="submit" class="btn btn-primary" value="send message">
    </div>
 
</form>
</div>